
body{background:#0b2b87;}
.main-area{background:#ffffff;border-radius:10px;padding:20px;}
.card{background:#ffffff;color:#000;border-left:6px solid #8b572a;}
.navbar{background:#07215c;}
h3{color:#fff;}
.table{background:#fff;}
